body {
    --red: #cc2e38;
}

.status.success {
/*    animation: pulse-success 5s infinite;*/
    background-color: #78fc65;
}

.status.error {
/*    animation: pulse-error 5s infinite;*/
    background-color: var(--red);
}

.status {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    margin-right: 15px;
}

@keyframes pulse-success {
    0% {
        box-shadow: 0 0 0 0px rgba(120, 252, 101, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(120, 252, 101, 0);
    }
}

@keyframes pulse-error {
    0% {
        box-shadow: 0 0 0 0px rgba(204, 46, 56, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(204, 46, 56, 0);
    }
}